{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/context_menu.css', _scheme='https')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='css/context_menu.css', _scheme='http')}}">
<div>
    <p class="navbar-brand" >{{ current_user.login }} <a href="/logout" class="btn btn-danger">Выйти</a></p>
</div>

<div>
    <ul>
        <li><a href="/categories">Категории</a></li>
    </ul>
</div>
    <div>
          <h1>Оконченные задачи</h1>
    </div>
                <span>Категории</span>
                <select class="select">
                    <option value="/ended_businesses">Оконченные задачи</option>
                    <option value="/">Все задачи</option>
                    <option value="/current_businesses">Текущие задачи</option>
                    {% for category in categories %}
                        <option value="/index/{{category.title}}">{{category.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <script>
            $(document).ready(function(){
	            $('.select').change(function(){
		            window.location.href = $(this).val();
	            });
            });
            </script>
        <ul class="list-group">
                {% for business in businesses %}
                <div class="task" data-id="{{business.id}}" data-endbyuser="{{business.ended_by_user}}" data-status="{{business.status}}">
                <li class="list-group-item">{{business.title}}</li>
                <li class="list-group-item">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Приоритет</th>
                          <th scope="col">Дата начала</th>
                          <th scope="col">Дата окончания</th>
                          <th scope="col">Статус задачи</th>
                          <th scope="col">Категория</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% if business.priority == 1%}
                            <td>Наименьшая</td>
                          {% elif business.priority == 2 %}
                            <td>Средняя</td>
                          {% elif business.priority == 3 %}
                            <td>Наибольшая</td>
                          {% endif %}
                          <td>{{business.start_date}}</td>
                          <td>{{business.end_date}}</td>
                          <td>{{business.status}}</td>
                          {% if business.category%}
                            <td>{{business.category.title}}</td>
                          {% else %}
                            <td>Без категории</td>
                          {% endif %}
                        </tr>
                      </tbody>
                    </table>
                <a href="/delete_business/{{ business.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </li></div>
                {% endfor %}
            </ul>
    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items" id="context-menu__items">
            <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="enable_business"><i class="fa fa-eye"></i>Возобновить задачу</a>
            </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="delete_business"><i class="fa fa-times"></i>Удалить</a>
      </li>
    </ul>
  </nav>
  <script src="{{url_for('.static', filename='js/context_menu.js', _scheme='https')}}"></script>
  <script src="{{url_for('.static', filename='js/context_menu.js', _scheme='http')}}"></script>
{% endblock %}