{% extends "base.html" %}
{% block content %}
<div>
    <p class="navbar-brand" >{{ current_user.name }} {{ current_user.surname }} <a href="/logout" class="btn btn-danger">Выйти</a></p>
</div>

<div>
    <ul>
        <li><a href="/">Задачи</a></li>
        <li><a href="/categories">Категории</a></li>
    </ul>
</div>
    <ul class="list-group">
        {% if businesses != [] %}
            <div>
                <h1>Задачи <a href="/add_business" class="btn btn-primary">Добавить задачу</a></h1>
            </div>
                <span>Категории</span>
                <div>
                    <ul>
                        <li><a type="button" class="btn btn-primary" href="/">Все задачи</a></li>
                        {% for category in categories %}
                        <li><a type="button" class="btn btn-secondary" href="/index/{{category.title}}">{{category.title}}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                {% for business in businesses %}
                <li class="list-group-item">{{business.title}}</li>
                <li class="list-group-item">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Приоритет</th>
                          <th scope="col">Дата начала</th>
                          <th scope="col">Дата окончания</th>
                          <th scope="col">Статус задачи</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% if business.priority == 1%}
                            <td>Наименьшая</td>
                          {% elif business.priority == 2 %}
                            <td>Средняя</td>
                          {% elif business.priority == 3 %}
                            <td>Наибольшая</td>
                          {% endif %}
                          <td>{{business.start_date}}</td>
                          <td>{{business.end_date}}</td>
                          <td>{{business.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                </li>
                <div>
                    <a href="/redact_business/{{ business.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/delete_business/{{ business.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
                {% endfor %}
            {% elif businesses == []%}
                <h1>Задачи <a href="/add_business" class="btn btn-primary">Добавить задачу</a></h1>
                <div>
                    <ul>
                        <li><a type="button" class="btn btn-primary" href="/">Все задачи</a></li>
                        {% for category in categories %}
                        <li><a type="button" class="btn btn-secondary" href="/index/{{category.title}}">{{category.title}}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            {% endif %}
            </ul>
{% endblock %}