{% extends "base.html" %}
{% block content %}
<div>
    <p class="navbar-brand" >{{ current_user.name }} {{ current_user.surname }} <a href="/logout" class="btn btn-danger">Выйти</a></p>
</div>

<div>
    <ul>
        <li><a href="/categories">Категории</a></li>
    </ul>
</div>
    <ul class="list-group">
        {% if url_for(request.endpoint) == "/"%}
            <div>
                <h1>Задачи <a href="/add_business" class="btn btn-primary">Добавить задачу</a></h1>
            </div>
                <span>Категории</span>
                <select class="select">
                    <option value="/">Все задачи</option>
                    {% for category in categories %}
                        <option value="/index/{{category.title}}">{{category.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <script>
            $(document).ready(function(){
	            $('.select').change(function(){
		            window.location.href = $(this).val();
	            });
            });
            </script>
                {% for business in businesses %}
                <li class="list-group-item">{{business.title}}</li>
                <li class="list-group-item">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Приоритет</th>
                          <th scope="col">Дата начала</th>
                          <th scope="col">Дата окончания</th>
                          <th scope="col">Статус задачи</th>
                          <th scope="col">Категория</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% if business.priority == 1%}
                            <td>Наименьшая</td>
                          {% elif business.priority == 2 %}
                            <td>Средняя</td>
                          {% elif business.priority == 3 %}
                            <td>business.priority</td>
                          {% endif %}
                          <td>{{business.start_date}}</td>
                          <td>{{business.end_date}}</td>
                          {% if business.end_date <= cur_time %}
                            <td>Срок выполнения истёк</td>
                          {% else%}
                            <td>В процессе выполнения</td>
                          {% endif %}
                          {% if business.category%}
                            <td>{{business.category.title}}</td>
                          {% else %}
                            <td>Без категории</td>
                          {% endif %}
                        </tr>
                      </tbody>
                    </table>
                </li>
                <div>
                    <a href="/redact_business/{{ business.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/delete_business/{{ business.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
                {% endfor %}
            {% elif businesses == []%}
                <h1>Задачи <a href="/add_business" class="btn btn-primary">Добавить задачу</a></h1>
            {% endif %}
            </ul>
{% endblock %}